{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card text-white bg-secondary p-0 col-3">
            <img class="card-img-top rounded" src="https://image.eveonline.com/Character/{{User.uid}}_256.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ User.user }}</h5>
                {% if corp %}
                <p class="card-text">
                    <img class="img-fluid" src="https://image.eveonline.com/Corporation/{{corp.id}}_32.png" alt="Corp logo">
                    {{ corp.name }}</p>
                {% endif %}
                {% if alliance %}
                <p class="card-text">
                    <img src="https://image.eveonline.com/Alliance/{{alliance.id}}_32.png" alt="Alliance logo">
                    {{ alliance.name }}</p>
                {% endif %}
                <p class="card-text">User ID: {{ User.uid }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
